:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: gainsboro;
}

.add-task-button {
    max-width: 150px;
}

.description-row-section {
    background: gainsboro;
    border-bottom: 1px solid gray;
}

.description-title {
    font-weight: 500;
}
